body, html {
			margin: 0;
			padding: 0;
		}

#tarja {
	background-image:url(../images/tarja.png);
	height: 4px;
}

#conteudo {
	margin-top: 90px;
	width: 100%;
	height: 100%;
	text-align: center;
}

p {
	font-family: Georgia;
	font-size: 30px;
	color: #d2d2d2;
	font-weight: 100;
	line-height: 40px;
}

#menu {
	margin-left: -54px;

}

#menu ul li { display: inline; }

#menu ul li a {
	margin: 9px;
    color: #f7b22c;
    text-decoration: none;
	font-family: arial;
	font-size: 13px;
}

#menu ul li a:hover {
    text-decoration: underline;
}