body, h1 {
	margin: 0px;
	padding: 0px;
}

p {
	padding-top: 35px;
	padding-bottom: 45px;
	font-family: Helvetica Neue;
	color: white;
	font-weight: 100;
	font-size: 48px;
	line-height: 50px;
}

#content {
	height: 688px;
	background-color: #f2c011;
}

#content-container {
	height: 100%;
}

#info {
	float: left;
	height: 200px;
	width: 482px;
	margin-top: 110px;
	padding-left: 8px;
}

#iphone {
	float: right;
	width: 456px;
	margin-top: 30px;
	padding-right: 8px;
}

#footer {
	min-height: 230px;
	background-image:url("../images/bar.png");
    background-repeat: repeat-x;
    padding-top: 11px;
}

#footer-container {
	padding: 44px 18px 0px 18px;
}

#contact {
	float: left;
	margin-top: 4px;
}

#logo {
	float: right;
}

#content-container, #footer-container {
	width: 960px;
	margin: 0 auto;
}